server:
    port: $PORT # For heroku app works
  
debug: true

logging:
  level:
    root: DEBUG
    org:
      springframework:
        security: trace

address:  https://fiscaliza-auth-server.herokuapp.com/ #http://auth-server:8080
